* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #edf2ff;
  font-family: 'Sniglet', cursive;
}

.container {
  margin: 50px 10px;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 900px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
}

.header .addTask {
  margin-top: 15px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
}

.logo span {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 2rem;
}

button:focus {
  outline: 0;
}

.button {
  background-color: #4180ff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}

.button > i {
  font-size: 2rem;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.button.small {
  width: auto;
  padding: 5px 22px;
}

.button.danger {
  background-color: #fdd0d0;
  color: #ff5c5c;
}

.searchBar {
  margin-top: 15px;
  position: relative;
}

.searchBar i {
  position: absolute;
  top: 18px;
  left: calc(100% - 20px);
  color: #afafaf;
}

.searchBar input {
  background-color: #ececec;
  border-radius: 10px;
  color: #afafaf;
  width: 100%;
  padding: 12px;
  font-size: 1.4rem;
  border: none;
}

.taskSwitches {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.taskSwitches--wrapper {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.taskSwitches--wrapper::after {
  content: '';
  background-color: #4180ff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -57%;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.taskSwitches--wrapper.slide::after {
  left: 43%;
}

.switchBtn {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.5rem;
  color: #4180ff;
  user-select: none;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switchBtn.active {
  color: #fff;
  background-color: #4180ff;
}

.task--container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
}
.task--wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  padding: 0 18px;
  transition: all 0.5s ease-out;
}
.task--wrapper.shift {
  transform: translateX(-100%);
}
.task--content {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  min-height: 50px;
  padding: 20px 25px;
  margin: 10px 0;
  position: relative;
}

.task--content::after {
  content: '';
  width: 15px;
  left: 0px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  top: 50%;
  height: 35px;
  position: absolute;
}

.task--content.active::after {
  background-color: #91ff85;
}
.task--content.completed::after {
  background-color: #fc7676;
}

.task--content span {
  font-size: 2rem;
  display: block;
}

.task--content .actions {
  margin-top: 10px;
}

.task--content .actions > button {
  margin-right: 15px;
}

.task--content .actions > button:last-child {
  margin-right: 0;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    padding: 40px;
  }
  .logo img {
    width: 50px;
  }
  .logo span {
    font-size: 3rem;
  }
  .searchBar {
    margin: auto 20px;
    flex-grow: 1;
  }
  .header .addTask {
    margin: auto;
  }
  .taskSwitches--wrapper {
    background-color: #edf2ff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .switchBtn {
    background-color: #4180ff;
    color: #fff;
    font-size: 2rem;
    padding: 15px 30px;
    border-radius: 25px 0 25px 0;
  }
  .taskSwitches--wrapper::after {
    display: none;
  }

  .task--wrapper {
    width: 50%;
    padding: 10px;
  }
  .task--wrapper.shift {
    transform: translateX(0%);
  }
}
